.entry-content,
.entry-content .ql-snow .ql-editor {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  h2,
  h3,
  h4 {
    font-weight: bold;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 22px;
  }
  p {
    margin-bottom: 20px;
    line-height: 2;
  }
  img {
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
  }
  ul {
    margin-left: 40px;
    margin-bottom: 20px;
    list-style: circle !important;
  }
  li {
    margin-bottom: 10px;
    list-style: circle !important;
    p, strong {
      line-height: 1.6;
    }
  }
  figure {
    margin-bottom: 20px;
  }
  figure img {
    border-radius: 20px;
    margin-bottom: 10px;
  }
  figcaption {
    text-align: center;
    font-style: italic;
    font-size: 14px;
    color: #6b6b6b;
  }
  @media screen and (max-width: 1023.98px) {
    font-size: 14px;
    h2 {
      font-size: 26px;
    }
    h3 {
      font-size: 24px;
    }
    h4 {
      font-size: 20px;
    }
  }
}

.entry-content {
  &.active {
    .ql-toolbar {
      position: fixed;
      top: 72px;
      background-color: white;
      z-index: 10;
      margin-right: 16px;
    }
  }
}
