.entry-content,
.entry-content .ql-snow .ql-editor {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  h2,
  h3,
  h4 {
    font-weight: bold;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 32px;
    line-height: 1.6;
  }
  h3 {
    font-size: 26px;
    line-height: 1.6;
  }
  h4 {
    font-size: 22px;
    line-height: 1.6;
  }
  p {
    margin-bottom: 20px;
    line-height: 2;
  }
  img {
    width: auto;
    object-fit: contain;
    border-radius: 10px;
  }
  ul {
    margin-left: 40px;
    margin-bottom: 20px;
    list-style: circle !important;
  }
  li {
    margin-bottom: 10px;
    list-style: circle !important;
    line-height: 1.6;
    p,
    strong {
      line-height: 1.6;
    }
  }
  figure {
    margin-bottom: 20px;
  }
  figure img {
    border-radius: 20px;
    margin-bottom: 10px;
  }
  figcaption {
    text-align: center;
    font-style: italic;
    font-size: 14px;
    color: #6b6b6b;
  }
  iframe {
    height: 400px;
    width: 75%;
    display: block;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  blockquote {
    border-left: 4px solid #ccc;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 16px;
    @include text14;
  }

  .ql-align-center {
    text-align: center;
  }
  .ql-align-right {
    text-align: right;
  }
  .ql-align-left {
    text-align: left;
  }
  .ql-align-justify {
    text-align: justify;
  }

  @media screen and (max-width: 1023.98px) {
    font-size: 14px;
    h2 {
      font-size: 26px;
    }
    h3 {
      font-size: 24px;
    }
    h4 {
      font-size: 20px;
    }
  }
  /* Mobie: width < 740px */
  @media only screen and (max-width: 739px) {
    iframe {
      height: 300px;
      width: 100%;
    }
  }
}

.entry-content {
  &.active {
    .ql-toolbar {
      position: fixed;
      top: 72px;
      background-color: white;
      z-index: 10;
      margin-right: 16px;
    }
  }
}
