@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

// variable
@import "./variable";
// end variable

// variable
@import "./mixin";
// end variable

// content
@import "./content";
// end content

@layer reset {
  html {
    font-family: "Inter", sans-serif;
    line-height: 1;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  html,
  body {
    color: $textColor;
    background-color: $backgroundColor;
  }
  * {
    margin: 0;
    padding: 0;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  input,
  textarea,
  select,
  button {
    outline: none;
  }

  input {
    line-height: normal;
  }

  label,
  button {
    cursor: pointer;
    user-select: none;
  }

  ul,
  li {
    list-style: none !important;
  }

  a {
    text-decoration: none !important;
    color: inherit;
  }

  img {
    display: block;
    max-width: 100%;
    user-select: none;
  }

  /* Mobie: width < 740px */
  @media only screen and (max-width: 46.1875em) {
    input[type="color"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="email"],
    input[type="month"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="time"],
    input[type="url"],
    input[type="week"],
    select:focus,
    textarea {
      font-size: 1rem !important;
      line-height: 1.25rem !important;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
  }
}

@layer base {
  .container {
    width: 100%;
    max-width: 1320px;
    padding-inline: 20px;
    margin-inline: auto;
  }
  .container-admin {
    margin: 32px;
    margin-top: calc(72px + 32px);
    padding-bottom: 80px;
  }
  body::-webkit-scrollbar {
    width: 4px;
  }

  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  body::-webkit-scrollbar-thumb {
    background-color: #52bd94;
  }
  .py-layout {
    padding-block: 80px;
  }
  .gap-header {
    margin-top: 72px;
  }
  .header-home {
    .nav-item {
      color: #fff;
    }
  }
  .hidden-input {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }
  .error-input {
    border: 1px solid red !important;
    border-radius: 8px;
  }
  .skeleton {
    background-color: #eee;
    background-image: linear-gradient(
      110deg,
      #ececec 8%,
      #f5f5f5 18%,
      #ececec 33%
    );
    border-radius: 5px;
    background-size: 200% 100%;
    animation: shine 1.5s linear infinite;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-animation: shine 1.5s linear infinite;
  }
}
// end base

// keyFrame
@layer keyFrame {
  // fadeIn
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  // end fadeIn

  // spin
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  // spin
  @keyframes shine {
    to {
      background-position: -200%;
    }
  }
}
// end keyFrame

/* Mobie: width < 740px */
@media only screen and (max-width: 739px) {
  .container {
    padding-inline: 12px;
  }
  .py-layout {
    padding-block: 40px;
  }
  .container-admin {
    margin-inline: 20px;
  }
}
